.ui-select-label {
  text-align: center;
  margin-right: 0;
  font-family: 'Lora', serif;
  font-size: 22px;
}

.ui-select-arrow {
  margin-top: 3px;
}

.ui-select-popup {
  position: absolute;
  bottom: 15px;
  background: #1c1d1d;
  z-index: 100;
  box-shadow: 2px 2px 12px -1px #141414;
  li {
    padding: 5px 1em 5px 1em;
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 16px;
    &:hover {
      background: #141414;
    }
    &.active {
      background: #141414;
    }
  }
}
